.slot-machine {
  width: 800px;
  height: 375px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.reels-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.symbol {
  font-size: 2em;
}

@keyframes spin {
  to {
    transform: translateY(-100%);
  }
}

.reels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.reels div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  height: 100%;
  position: relative;
}

.balance {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #f5c242;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #ffb400;
}

.modal {
  color: white;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px auto;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.row-text {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  body .container .reels-container .button {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }
  .modal {
    width: auto;
    margin: 20px auto;
    border: 10px solid green;
  }
}

@media only screen and (min-width: 768px) {
  .reels {
    width: 600px;
    margin: 0 auto;
    justify-items: center;
  }
}
